APP_NAME=Laravel
APP_KEY=
APP_ENV=development
APP_URL=http://localhost:8000/
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_LOG_CHANNEL=development

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

DB_CONNECTION=sqlite
