/coverage
/node_modules
/public/css
/public/fonts
/public/hot
/public/js
/public/storage
/storage/*.key
/temp
/vendor
/.htdeployment
/.idea
/.vagrant
composer.phar
deployment.log
npm-debug.log
yarn-error.log
.env*
!.env*.example
